body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 97%);
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input[type=number] {
  -webkit-appearance: number-input;
  appearance: number-input;
}
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: helvetica;
}
#btnContainer{
    text-align: center;
    padding-bottom: 20px;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttons:hover{
    background-color: hsl(214, 100%, 56%);
}
#mybutton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}
.labels{
    font-size: 3em;
}

.paymentmethod{
    text-align: left;
    cursor: pointer;

}
#mySubmit{
    font-size: 1em;
}
.h1color{
    color: hsl(223, 100%, 64%);
}
form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%,0%, 0.8);
    border-radius: 5px;
    margin-bottom: 15px;
}
.labels{
    font-size: 1.5em;
    font-weight: bold;
}
.temp{
    margin-top: 15px;
    background-color: hsl(0, 100%, 60%);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.temp:hover{
    background-color: hsl(0, 100%, 45%);
}
#resultconv{
    font-size: 2em;
    font-weight: bold;
}


/* dice-roller program */
#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.myRoll{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.myRoll:hover{
     background-color: hsl(210, 100%, 60%)
}
.myRoll:active{
     background-color: hsl(210, 100%, 70%)
}
.diceInput{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin-top: 25px;
}
#diceImages img{
    width: 100px;
    margin: 5px;
}


/* digital-clock program */
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;   
    border: 1px solid;
    width: 370px;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    
}
#clock{
    font-family: monospace;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%,100%, 0.1);
}



/* stopwatch */
.Stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
}
#myWatch{
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 25%);
}
#watch-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
}
#display{
    font-size: 4rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%,0.75%);
    margin-bottom: 20px;

}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#startbtn{
    background-color: hsl(115, 100%, 40%);
}
#startbtn:hover{
    background-color: hsl(115, 100%, 30%);
}
#stopbtn{
    background-color: hsl(10, 90%, 50%);
}
#stopbtn:hover{
    background-color: hsl(10, 90%, 40%);
}
#resetbtn{
    background-color: hsl(205, 90%, 60%);
}
#resetbtn:hover{
    background-color: hsl(205, 90%, 50%);
}



/* CALCULATOR PROGRAM */
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#displaynum{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
.calcbutton{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
.calcbutton:hover{
    background-color: hsl(0, 0%, 40%);
}
.calcbutton:active{
    background-color: hsl(0, 0%, 50%)
}
#operatorbtn{
    background-color: hsl(35, 100%, 55%);
}
#operatorbtn:hover{
    background-color: hsl(35, 100%, 65%);
}
#operatorbtn:active{
    background-color: hsl(35, 100%, 75%);
}


/* ADD $ CHANGE HTML */
.box{
    border: 3px solid;
    width: 50%;
    height: 125px;
}
#juice{
    border: 3px solid;
    font-size: 1.5rem;
    width: 50%;
    text-align: start;
}



/* MOUSEEVENT */
#myBox{
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}
#myButton{
    font-size: 3rem;
}

#mybox{
    background-color: lightblue;
    width: 200px;
    height: 200px;
    font-size: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



/* HIDE/SHOW HTML */
#hide-showBtn{
    font-size: 2rem;
}



/* NODELIST */
.myBut{
    font-size: 4rem;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: hsl(205, 100%, 60%);
    color: white;
}



/* CLASSLIST */
#myHello{
    font-size: 4rem;
}
#my-button{
    font-size: 4rem;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}
.enabled{
    background-color: hsl(204, 100%, 50%);
    color: white;
}
.hover{
    box-shadow: 0 0 10px hsla(248, 98%, 16%, 0.2);
    font-weight: bold;
}
.disabled{
    background-color: hsl(0, 0%, 60%);
    color: hsl(0, 0%, 80%);
}

.myB{
    font-size: 4rem;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}



/* ROCK PAPER SCISSORS */
.rps-game{
    font-weight: bold;
}
.rps{
    font-size: 2.5rem;
    color: hsl(0, 0%, 20%);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 5rem;
    min-width: 100px;
    margin: 0 10px;
    border-radius: 100%;
    background-color: hsl(200, 100%, 50%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover{
    background-color: hsl(200, 100%, 70%);
}
#playerDisplay, #computerDisplay{
    font-size: 2rem;
}
#resultDisplay{
    font-size: 4rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-size: 2rem;

}
.greenText, #playerScoreDisplay{
    color: hsl(130, 84%, 54%);
}
.redText, #computerScoreDisplay{
    color: hsl(0, 84%, 60%);
}



/* IMAGE SLIDER */
.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    padding: 10px 15px;
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5;}
    to {opacity: 1;}
}